.footer {
    width: center;
    text-align: center;
    padding: 2rem;
    background: rgba(0,0,0,.8);
    cursor: pointer;
}

.footer h4 {
    font-size: 1rem;
    color: hotpink;
    padding: 1rem;
}

.footer text {
    font-size: 2rem;
    color: hotpink;
    padding: 0rem;
}



