/* NEW CODE
/* MAIN VIDEO SECTION STYLING */
.music-pink {
    width: 100%;
    background-color: #000;
    display: flex;
}

.music-pink h3 {
    font-size: 0.5rem; 
    height: 3rem;
    padding: 2rem;
    margin: center;
}


.music-pink .btn {
    display: block;
    margin: center;
    font-size: small;
    align-items: center;
    background-color: #ffa3dc;
    border-color: #ffa3dc;
    width: 99%;
}



.video {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    
}

/*INDIVIDUAL VIDEO STYLING SECTIONS WITH JISOO'S SOLO VIDEO SECTION FIRST */

/* JISOO SOLO VIDEO SECTION */
.JiSolo {
    margin: auto;
    color: #eee;
}


@media screen and (max-width: 980px) {
    .JiSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF JISOO SOLO VIDEO SECTION */

/* JENNIE SOLO VIDEO SECTION */
.JenSolo {
    margin: auto;
    color: rgb(255, 255, 255);
    
}


@media screen and (max-width: 980px) {
    .JenSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF JENNIE SOLO VIDEO SECTION */
/* BLACKPINK GROUP VIDEO SECTION */
.groupMusic {
    margin: auto;
    color: #eee;
}


@media screen and (max-width: 980px) {
    .groupMusic {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF BLACKPINK GROUP VIDEO SECTION */

/* ROSE SOLO VIDEO SECTION */
.RoseSolo {
    margin: auto;
    color: #eee;
}



@media screen and (max-width: 980px) {
    .RoseSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF ROSE SOLO VIDEO SECTION */

/* LISA SOLO VIDEO SECTION */
.LisaSolo {
    margin: auto;
    color: #eee;
}


@media screen and (max-width: 980px) {
    .LisaSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF LISA SOLO VIDEO SECTION */


/*







/*
OLD CODE 
/*

/* MAIN VIDEO SECTION STYLING */
.music-pink {
    width: 100%;
    padding: center;
    background-color: #000;
    display: flex; flex-wrap: wrap;
}

.music-pink p {
    color: #eee;
    padding: 2rem 0rem;
    font-size: 2rem;
}

/*INDIVIDUAL VIDEO STYLING SECTIONS WITH JISOO'S SOLO VIDEO SECTION FIRST */

/* JISOO SOLO VIDEO SECTION */
.JiSolo {
    margin: auto;
    color: #eee;
    
}

.JiSolo .jisoo {
    border: 3px solid rgb(0, 0, 0);
    color: #eee;
}

.jisoo {
    text-align: center;
    padding: 2rem;
}

.jisoo:hover {
    background-color: #ffa3dc;
}

.JiSolo h3 {
    font-size: 2rem; 
    text-align: center;
    font-stretch: expanded;
    height: 2rem;
    padding: 1rem;
}

.JiSolo .bar {
    border-bottom: 1px solid #eee;
    width: 30%;
    margin: 1rem auto;
    display: block;
}

.jisoo .YG {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.JiSolo .btn {
    display: block;
    width: 17%;
    margin: 0rem 60rem auto;
}

@media screen and (max-width: 980px) {
    .JiSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF JISOO SOLO VIDEO SECTION */

/* JENNIE SOLO VIDEO SECTION */
.JenSolo {
    margin: auto;
    color: rgb(255, 255, 255);
    
}

.JenSolo .jennie {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.jennie {
    text-align: center;
    padding: 2rem;
}

.jennie:hover {
    background-color: #ffa3dc;
}

.JenSolo h3 {
    font-size: 2rem; 
    text-align: center;
    font-stretch: expanded;
    height: 2rem;
    padding: 1rem;
}

.JenSolo .bar {
    border-bottom: 1px solid #eee;
    width: 30%;
    margin: 1rem auto;
    display: block;
}

.jennie .YG {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.JenSolo .btn {
    display: block;
    width: 47%;
    margin: 0rem 13rem auto;
}

@media screen and (max-width: 980px) {
    .JenSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF JENNIE SOLO VIDEO SECTION */
/* BLACKPINK GROUP VIDEO SECTION */
.groupMusic {
    margin: auto;
    color: #eee;
}

.groupMusic .shutdown {
    border: 3px solid rgb(0, 0, 0);
    color: #eee;
}

.shutdown {
    text-align: center;
    padding: 2rem;
}

.shutdown:hover {
    background-color: #ffa3dc;
    
}

.groupMusic h3 {
    font-size: 2rem; 
    text-align: center;
    font-stretch: expanded;
    height: 2rem;
    padding: 1rem;
}

.groupMusic .bar {
    border-bottom: 1px solid #eee;
    width: 30%;
    margin: 1rem auto;
    display: block;
}

.shutdown .YG {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.groupMusic .btn {
    display: block;
    width: 32%;
    margin: 0rem 25rem auto;
}

@media screen and (max-width: 980px) {
    .groupMusic {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF BLACKPINK GROUP VIDEO SECTION */

/* ROSE SOLO VIDEO SECTION */
.RoseSolo {
    margin: auto;
    color: #eee;
}

.RoseSolo .rose {
    border: 3px solid rgb(0, 0, 0);
    color: #eee;
}

.rose {
    text-align: center;
    padding: 1rem;
}

.rose:hover {
    background-color: #ffa3dc;
}

.RoseSolo h3 {
    font-size: 2rem; 
    text-align: center;
    font-stretch: expanded;
    height: 2rem;
    padding: 1rem;
}

.RoseSolo .bar {
    border-bottom: 1px solid #eee;
    width: 26%;
    margin: 1rem auto;
    display: block;
}

.rose .YG {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.RoseSolo .btn {
    display: block;
    width: 37%;
    margin: 0rem 20rem auto;
}


@media screen and (max-width: 980px) {
    .RoseSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF ROSE SOLO VIDEO SECTION */

/* LISA SOLO VIDEO SECTION */
.LisaSolo {
    margin: auto;
    color: #eee;
}

.LisaSolo .lisa {
    border: 3px solid rgb(0, 0, 0);
    color: #eee;
}

.lisa {
    text-align: center;
    padding: 2rem;
}

.lisa:hover {
    background-color: #ffa3dc;
}

.LisaSolo h3 {
    font-size: 2rem; 
    text-align: center;
    font-stretch: expanded;
    height: 2rem;
    padding: 1rem;
}

.LisaSolo .bar {
    border-bottom: 1px solid #eee;
    width: 29%;
    margin: 1rem auto;
    display: block;
}

.lisa .YG {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.LisaSolo .btn {
    display: block;
    width: 43%;
    margin: 0rem 16rem auto;
}

@media screen and (max-width: 980px) {
    .LisaSolo {
        max-width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
/* END OF LISA SOLO VIDEO SECTION */

