.worldtour .img {
    max-width: 60%;
    cursor: pointer;
}

.worldtour .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.worldtour .top {
    padding-top: 0%;
    grid-column: 1 / span 15;
    grid-row: 1;
    z-index: 6;
    cursor: pointer;
}

.worldtour {
    cursor: pointer;
}
